---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">

  <title>{{ site.data.settings.title }}</title>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-noir.min.css" />

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

  {% include analytics.html %}
</head>

<body>

{% include hero.html %}

{% include header.html %}

{% include about.html %}

{% include work.html %}

{% include timeline.html %}

{% include form.html %}

{% include footer.html %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/js/functions.js"></script>
<script src="{{ site.github.url }}/assets/js/header.js"></script>
<script src="bower_components/typed.js/js/typed.js"></script>
<script src="{{ site.github.url }}/assets/js/typed.js"></script>
<script src="{{ site.github.url }}/assets/js/timeline.js"></script>
<script src="{{ site.github.url }}/assets/js/modal.js"></script>
<script src="tooltipster/dist/js/tooltipster.bundle.min.js"></script>    
</body>
</html>
