<h4>Skills</h4>
<p>I have no fancy university diploma in Computer Science (just one in Finance, boring right) and all I know is from the interwebz and the Internships I’ve done so far.<p>
<p>To summarize it (is not much):<p>
  <ul>
  <li>I’m good with <strong>CSS</strong> and preprocessors <strong>SASS, SCSS and Stylus</strong>. I know how to create <strong>responsive layouts</strong>, so it looks nice and customers are happy and not like uugh I can’t read this stuff.</li>
  <li><strong>JavaScript</strong> of course, although I still have more learning to do here. I’m most comfortable with <strong>JQuery</strong>, but also <strong>AngularJS</strong> (not 2) because I worked with that in my last internship.</li>
  <li>I’ve also written and fixed basic <strong>unit</strong> and <strong>e2e tests.</strong></li>
  <li>On the backend side I’ve used <strong>Django templating</strong>, <strong>REST APIs</strong> and some <strong>Ruby on Rails</strong>.</li>
</ul>
<p>I know, I am so 2014, ‘cause I haven’t started with React…buut I will. Soon. Plus, I am being smart and avoiding the “JavaScript fatigue” (google it, it’s real) and focusing on mastering plain ol’ JavaScript cause I thinks that is the most important.</p>
