<span class="anchor" id="about"></span>
<section class="about-section">
	<h3>About Me</h3>
	<div class="face-lockup">
		<div class="face-img"></div>
		<div class="icon-html tooltip" title="HTML"><p class="char-entity">&lt; &frasl; &gt;</p></div>
		<div class="icon-css tooltip" title="CSS"><p class="char-entity">&nbsp;&lcub; &rcub;</p></div>
		<div class="icon-js tooltip" title="JavaScript"><p class="char-entity">&lcub; &semi; &rcub;</p></div>
		<div class="icon-browser tooltip" title="Web">{% include icons/icon-browser.html %}</div>
	</div>
	<div class="blurb">{{ site.data.settings.blurb | markdownify }}</div>
</section>
