<div class="hero">

    <div class="avatar">
        <div class="avatar-lockup">
            <div class="hair"></div>
            <div class="circle"></div>
            <div class="body"></div>
            <div class="capeleft"></div>
            <div class="caperight"></div>
            <div class="logo-circle">
                <div class="symbolleft">
                </div>
                <div class="symbolright">
                </div>
                <div class="symbolmiddle">
                </div>
            </div>
            <div class="shadow"></div>
            <div class="chin"></div>
            <div class="mouth"></div>
            <div class="lefteye"></div>
            <div class="righteye"></div>
        </div>
    </div> 

    <div class="typed-intro">
            <div id="typed-strings">
                <p>Hello!</p>
                <p>Some text here</p>
                <p>Some other text here</p>
            </div>
            <span id="typed"></span>
    </div>
    
       
</div>

