<div id="myModal-2" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close2">×</span>
      <h3>My work at EdQu</h3>
    </div>
    <div class="modal-body">
      <p>
        Worked with a small team of very smart people on their teaching web app. Here is where I got much better at JavaScript
        and AngularJS. Some examples of my daily tasks included:
      <ul>
        <li>Developing and designing new features of the web app, including UX design</li>
        <li>Writing unit tests with Mocha and e2e tests using Protractor for the new features</li>
        <li>Resolving front end bugs (HTML, CSS, Javascript errors, unit and e2e tests)</li>
      </ul>
      <p>Date: <strong>September-December 2016</strong></p>
      <button class="btn-close-modal btn-close-modal-2">Close</button>
    </div>
  </div>
</div>
