<div id="myModal-1" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close1">×</span>
      <h3>My work at FundedByMe</h3>
    </div>
    <div class="modal-body">

      <img src="assets/img/fundedbyme-portfolio.png">
      <p>
        My internship at <a href="http://fundedbyme.com" target="_blank">FundedByMe</a> was a time of intense learning
        with focus on mastering my Sass and JavaScript skills. <a href="http://fundedbyme.com/en/borrow-money/" target="_blank">This</a> is an example of a page I did. Bellow you can read about all my work engagements:
      </p>
      <ul>
        <li>Modifying the markup and styles of the existing project to fit new features</li>
        <li>Working with Sketch and InVission files from the UX designer to build new layouts</li>
        <li>Implementing new pieces of interactivity using vanila JavaScript and jQuery</li>
        <li>Coordinating with the back-end developer to integrate my HTML page templates into the web application</li>
        <li>Investigating and resolving reported bugs ranging from small text edits to image updates to JavaScript errors to display inconsistencies.</li>
      </ul>
      <p>Date: <strong>April-July 2016</strong></p>
    </div>
  </div>
</div>
