<div id="myModal-3" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close3">×</span>
      <h3>My work at Competencer</h3>
    </div>
    <div class="modal-body">
      <p>
        At Competencer I worked on developing a new feature, an online online psychological stress test. It was a short term engagement but I
           improved my knowledge of AngularJS immensely.
      </p>
      <p>Date: <strong>January-February 2017</strong></p>
      <button class="btn-close-modal btn-close-modal-3">Close</button>
    </div>
  </div>
</div>
