<div id="myModal-5" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close5">×</span>
      <h3>My work at Jayway</h3>
    </div>
    <div class="modal-body">
      <p>
        Consultant web developer<br/>
        Cross functional team, with other web developers, backend, UI and PO <br />
        Stack: React.js, Vue.js
      </p>
      <p>My tasks: </p>
      <ul>
        <li>Translating the clients requirements into scoped tickets</li>
        <li>Close collaboration with the designer, mocking and giving feedback on the implementation of the design</li>
        <li>Set up web projects from scratch and deciding on architectural questions</li>
        <li>Coding new features (e.g. Predicative maintenace for train tracks project)</li>
      </ul>

      <p>Date: <strong>Sept 2020 - current</strong></p>
      <button class="btn-close-modal btn-close-modal-5">Close</button>
    </div>
  </div>
</div>