<div id="myModal-4" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close4">×</span>
      <h3>My work at Svenska Spel</h3>
    </div>
    <div class="modal-body">
      <img class="modal-img" src="assets/img/svenska-spel.jpg">
      <p>
        At <a href="https://www.svenskaspel.se/" target="_blank">Svenska Spel</a> I work as a CMS frontend developer.
        The CMS is an inhouse built web app to manage the content on Svenska Spels's web site and game products.

        I am one of three frontend developers in a team of eight persons including backend, UI/UX and a Product Owner.
      </p>
      <p>The frontend stack is React + Redux + Node</p>
      <p>Developing and maintaining the CMS includes: </p>
      <ul>
        <li>Developing new features (e.g. new types of widgets, banners, time scheduling tools for the content, A/B testing support)</li>
        <li>Maintenance of existing features (bug fixing, rewriting legacy code from Backbone to React, performance optimization, updating of tests)</li>
        <li>Writing unit tests with Enzyme, functional (UI) and integration (API) tests with Mocha and webdriver.io.</li>
        <li>Gathering input from the CMS users in terms of usability and improvements and translating it into requirements</li>
        <li>Close coordination with the back-end developers</li>
      </ul>

      <p>Date: <strong>March 2017 - current</strong></p>
      <button class="btn-close-modal btn-close-modal-4">Close</button>
    </div>
  </div>
</div>
