<span class="anchor" id="work"></span>
<section class="timeline">
    <h3>Work</h3>
    <ul>
      <li class="timeline-item">
          <div class="timeline-bubble">
              <div class="ribbon"><span>Current</span></div>

              <time>March 2017</time>
              <a id="btn-modal-4">@ Svenska Spel - Visby</a>
              <div>
                <small>click for more</small>
              </div>
              {% include modal-4.html %}
          </div>
      </li>
      <li class="timeline-item">
          <div class="timeline-bubble">
              <time>Jan 2017 - Feb 2017</time>
              <a id="btn-modal-3">@ Competencer - Stockholm</a>
              {% include modal-3.html %}
          </div>
      </li>
      <li class="timeline-item">
          <div class="timeline-bubble">
              <time>Sept 2016 - Dec 2016</time>
              <a id="btn-modal-2">@ EdQu - Stockholm</a>
              {% include modal-2.html %}
          </div>
      </li>
      <li class="timeline-item">
          <div class="timeline-bubble">
              <time>March 2016 - Jul 2016</time>
              <a id="btn-modal-1">@ Fundedbyme - Stockholm</a>
              {% include modal-1.html %}
          </div>
      </li>
      <li class="timeline-item">
          <div class="timeline-bubble">
              <time>2015</time>
              <span>Began to learn JS</span>
          </div>
      </li>
        <li class="timeline-item">
            <div class="timeline-bubble">
                <time>2014</time>
                <span>Moved from Macedonia to Sweden</span>
            </div>
        </li>
    </ul>
    <div class="center">
      <h4><a href="assets/documents/sandra-krle-resume.pdf">Download Resume (.pdf)</a></h4>
    </div>
</section>
