<span class="anchor" id="work"></span>
<section class="timeline">
    <h3>Work</h3>
    <ul>
    <li class="timeline-item">
        <div id="btn-modal-5" class="timeline-bubble">
            <div class="ribbon"><span>Current</span></div>
    
            <time>September 2020</time>
            <div>@ Jayway - Stockholm</div>
        </div>
        {% include modal-5.html %}
    </li>
      <li class="timeline-item">
          <div class="timeline-bubble" id="btn-modal-4">
              <time>March 2017 - Sept 2020</time>
            <div>@ Svenska Spel - Visby</div>
          </div>
        {% include modal-4.html %}
      </li>
      <li class="timeline-item">
          <div id="btn-modal-3" class="timeline-bubble">
              <time>Jan 2017 - Feb 2017</time>
              <div>@ Competencer - Stockholm</div>
          </div>
        {% include modal-3.html %}
      </li>
      <li class="timeline-item">
          <div id="btn-modal-2" class="timeline-bubble">
              <time>Sept 2016 - Dec 2016</time>
              <div>@ EdQu - Stockholm</div>
          </div>
        {% include modal-2.html %}
      </li>
      <li class="timeline-item">
          <div id="btn-modal-1" class="timeline-bubble">
              <time>March 2016 - Jul 2016</time>
              <div>@ Fundedbyme - Stockholm</div>
          </div>
        {% include modal-1.html %}
      </li>
      <li class="timeline-item">
          <div class="timeline-bubble">
              <time>2015</time>
              <span>Started learning JS</span>
          </div>
      </li>
        <li class="timeline-item">
            <div class="timeline-bubble">
                <time>2014</time>
                <span>Moved from Macedonia to Sweden</span>
            </div>
        </li>
    </ul>
    <div class="center">
      <h4><a href="assets/documents/sandra_krle_resume_2021.pdf">Download Resume (.pdf)</a></h4>
    </div>
</section>
