<span class="anchor" id="details"></span>
<section class="section-work">
    {% for project in site.data.settings.projects %}
        <input type="radio" name="trigger" class="trigger" id="{{ project.folder }}" />
    {% endfor %}
    <input type="radio" name="trigger" id="return" class="return" />
    <div class="work-belt">
      
        <div class="thumb-wrap">
            <div class="thumb-container">
                <label for="proj-1">
                    <div class="thumb-unit" data-url="/work/proj-1/proj-1.html">
                       <div class="basicBox">
                          <span>Professional<br>experience</span>
                          <svg width="130" height="65" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0" y="0" fill="none" width="130" height="65"></rect>
                          </svg>
                        </div> 
                    </div>
                </label>               
                
                <label for="proj-2">
                    <div class="thumb-unit" data-url="/work/proj-2/proj-2.html">
                       <div class="basicBox">
                          <span>What I'm<br>looking for</span>
                          <svg width="130" height="65" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0" y="0" fill="none" width="130" height="65"></rect>
                          </svg>
                        </div> 
                    </div>
                </label>
                
                <label for="proj-3">
                    <div class="thumb-unit" data-url="/work/proj-3/proj-3.html">
                       <div class="basicBox">
                          <span>Personal<br>stuff</span>
                          <svg width="130" height="65" viewBox="0 0 130 65" xmlns="http://www.w3.org/2000/svg">
                            <rect x="0" y="0" fill="none" width="130" height="65"></rect>
                          </svg>
                        </div> 
                    </div>
                </label>
            </div>
        </div>
        <div class="work-wrap">
            <div class="work-container">
                <label for="return">
                    <div class="icon-return">{% include icons/icon-back.html %}</div>
                </label>
                <div class="project-load"></div>
                <a href="#details"><button class="btn-return" >Back</button></a>
            </div>
        </div>
    </div>
</section>
