nav {
  height: 40px;
  width: 100%;
  background-color: $myPink;
  color: #fff;
  z-index: $navbarIndex;

  &.main-nav-scrolled {
     position: fixed;
     width: 100%;
     top: 0;
    
    }

  ul {
    padding: 0;
    margin: 0;
    text-align: center
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 0;
    color: #fff;
    font-size: 16px; 
  }

  li:hover {
    background-color: $myYellow;
  }

  a#openup {
    display: none;
  }
}

@media screen and (max-width: 480px) {

  nav {
    height: auto;
    border-bottom: 0;
  
    ul {
      display: none;
      height: auto;
    } 
  
    li {
      width: 100%;
      position: relative;
    }

    a {
      text-align: center;
      width: 100%;
      background: $myPink;  
      border-bottom: 1px solid $myRed;
    }   
  
     a:hover {
      background: $myYellow;
      border: none;
    }

    a#openup:after {
      content:"|||";
      transform:rotate(-90deg);
      -ms-transform:rotate(-90deg); /* IE 9 */
      -webkit-transform:rotate(-90deg); /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 178px;
      top: 4px;
    }
          
    a#openup {
      display: block;
      background-color: $myPink;
      width: 100%;
      position: relative;
      height: 15px;
    }
  } //nav
} // media

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */