.hero
  background-color: #60e4ea
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center

.typed-intro
  font-size: 30px
  text-align: center
  font-weight: 700
  color: white
  text-transform: uppercase
  letter-spacing: 0.05em
  height: 50px
  flex: 0 0 300px
  align-self: center