.hero
  height: 300px
  padding: 20px 335px
  background-color: #60e4ea
  
  .typed-intro
    font-size: 30px
    font-weight: 700
    color: white
    text-transform: uppercase
    letter-spacing: 0.05em
    padding-top: 120px
    padding-left: 50px
    float: right
    // text-align: center
    // margin-bottom: 20px
    // clear: both
    // padding-top: 100px

