.main-nav 
  background: $myPink
  z-index: $navbarIndex
  text-align: center

  &.main-nav-scrolled
    position: fixed
    width: 100%
    top: 0

  ul 
    margin: 0
    padding: 0
    list-style: none
    
    li
      margin-right: 60px
      display: inline-block

      a 
        font-weight: 300
        text-transform: uppercase
        font-size: 20px
        line-height: 1.2
        color: #fff
    
    &:hover, 
    &:focus
      color: $myLightGray
      